body {  
    font-family: sans-serif;
    
    main {
        margin: 0px 25px;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: black;
    }

    button {
        color: black;
        border-radius: 5px;
        border: black .5px solid;
        margin: 5px;
        padding: 2.5px 10px;
        font-family: Poiret One;
    }

    button:hover {
        background-color: #18d6eb;
        color: white;
        border: white .5px solid;;
    }


}
