:local(.book) {
    margin: 5px;
    padding: auto;
    border: 2px solid black;
    width: 200px;
    display: flex;
    justify-content: center;
    min-height: 300px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }

    h3 p {
        margin: 0px;
        padding: 0px;
        line-height: 1em;
    }

    img {
        filter: grayscale(90%);
        transition-property: filter;
        transition-duration: 1s; 
    }

    img:hover {
        filter: none;
    }

    a:active {
        filter: blur(5px);
    }
}